// reset
* {
  padding: 0;
  margin: 0;
  font-family: "Calgary", arial;
  -webkit-font-smoothing: antialiased;

  a {
    color: inherit;
    text-decoration: none;
  }
}

html {
  overflow-y: scroll;
  font-size: 62.5%;
  background-color: #f9f8f7;

  div#app {
    display: flex;
    justify-content: center;
  }
}

pre {
  font-size: $font-size-sm;
}

li {
  list-style: none;
}
