@mixin defaultPadding {
  padding-left: clamp(1.2rem, 3vw, 3.6rem);
  padding-right: clamp(1.2rem, 3vw, 3.6rem);
}

@mixin defaultMargin {
  margin-left: clamp(1.2rem, 3vw, 3.6rem);
  margin-right: clamp(1.2rem, 3vw, 3.6rem);
}

@mixin inversePadding {
  margin-left: clamp(-1.2rem, 3vw, -3.6rem);
}

@mixin contentOutline {
  max-width: 1200px;
  width: 100%;
  @include defaultPadding;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
