h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
    padding-bottom: 2.5rem;
}

a {
    color: $color-goldenrod-yellow !important;
}

p {
    font-size: $font-size-xl;
    padding-bottom: 2.5rem;
}

li {
    font-size: $font-size-lg;
}

@media screen and (max-width: $screen-size-sm) {
    h2 {
        font-size: $font-size-xl;
    }
    li,
    a,
    span {
        font-size: $font-size-md;
    }
    p {
        font-size: $font-size-lg;
    }
}
