.motivation-sidebar {
    > p {
        font-size: $font-size-sm;
        text-align: center;

        @media screen and (min-width: $screen-size-xl) {
          text-align: start;
        }
      }

}