.panel-page-wrapper {

    .panel-introduction-wrapper {
        p {
            font-size: $font-size-lg;

        }
    }

    @media screen and (max-width: $screen-size-lg) {
        > div {
            .panel-introduction-wrapper {
                padding-bottom: 2.4rem;

                p {
                    padding-bottom: 0px;
                }
            }
        }
    
        > div:not(:first-child) {
            .panel-introduction-wrapper {
                margin-top: -2.4rem;
                margin-bottom: 2.4rem;

            }
        }
      }



        
    .flip-card-front {
        > .panel-text-wrapper {
                transform: translateY(25%);
        }
    }
    .panel-text-wrapper {
        > p {
            text-align: left;
            font-size: $font-size-sm;


            @media screen and (min-width: $screen-size-sm) {
                font-size: $font-size-md;
              }
            
    
              @media screen and (min-width: $screen-size-md) {
                font-size: $font-size-lg;
              }


              @media screen and (min-width: $screen-size-lg) {
                font-size: $font-size-md;
              }
          }
    
        
    
        > ul > li {
            text-align: center;
            font-size: $font-size-sm;
            text-emphasis: bold;
        }
    }


}


